<div class="theme-top" [@animateMenu]>
    <div class="theme-bar theme-white theme-card" id="myNavbar">
        <a href="#home" class="theme-bar-item theme-button theme-wide">PHYO</a>
        <audio #ref src="https://soundbible.com/grab.php?id=1964&type=mp3"></audio>
        <!-- Right-sided navbar links -->
        <div class="theme-right theme-hide-small">
            <a href="#about" class="theme-bar-item theme-button">ABOUT ME</a>
            <a href="#experience" class="theme-bar-item theme-button"><i class="fa fa-user"></i> EXPERIENCE</a>
            <a href="#project" class="theme-bar-item theme-button"><i class="fa fa-th"></i> PROJECTS</a>
            <a href="#education" class="theme-bar-item theme-button"><i class="fa fa-address-book"></i> EDUCATION</a>
            <a href="#contact" class="theme-bar-item theme-button"><i class="fa fa-envelope"></i> CONTACT</a>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        <a href="javascript:void(0)" class="theme-bar-item theme-button theme-right theme-hide-large theme-hide-medium"
            onclick="theme_open()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="theme-sidebar theme-bar-block theme-black theme-card theme-animate-left theme-hide-medium theme-hide-large"
    style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="theme_close()"
        class="theme-bar-item theme-button theme-large theme-padding-16">Close
        ×</a>
    <a href="#about" onclick="theme_close()" class="theme-bar-item theme-button">ABOUT ME</a>
    <a href="#experience" onclick="theme_close()" class="theme-bar-item theme-button">EXPERIENCE</a>
    <a href="#project" onclick="theme_close()" class="theme-bar-item theme-button">PROJECTS</a>
    <a href="#education" onclick="theme_close()" class="theme-bar-item theme-button">EDUCATION</a>
    <a href="#contact" onclick="theme_close()" class="theme-bar-item theme-button">CONTACT</a>
</nav>

<!-- Header with full-height image -->
<header class="bgimg-1 theme-display-container theme-grayscale-min" id="home">
    <div class="theme-display-left theme-text-white" style="padding:48px">
        <span class="theme-jumbo theme-hide-small" [@writingAnimation]="animationState">{{heading}} </span><br>

        <span class="theme-xxlarge theme-hide-large theme-hide-medium"
            [@writingAnimation]="animationState">{{heading}}</span><br>
        <div style="width: 60%;">
            <span class="theme-large" [@descriptionAnimation]>Skilled <span class="underline">Full Stack
                    Developer</span>
                with
                <span class="underline">8 years</span> of
                experience playing key role in development of complex enterprise software
                and systems in fast-paced, high-performance, secure <span class="underline">Agile/Scrum</span>
                environments.
                Hands-on experience in
                front-end
                development using <span class="underline">Angular and React</span>, as well as back-end development
                using
                <span class="underline">Java and Ruby</span>.
                Accomplished technical troubleshooter with demonstrated skill applying innovative thinking and emerging
                technologies to solve major
                technical challenges.</span>
        </div>
        <p><span (click)="ref.play()"
                class="theme-button theme-white theme-padding-large theme-large theme-margin-top theme-opacity theme-hover-opacity-off">Call
                my name like this</span></p>
    </div>
    <div class="theme-display-bottomleft theme-text-grey theme-large social" style="padding:24px 48px">
        <i class="fa fa-facebook-official theme-hover-opacity" (click)="call('facebook')"></i>
        <i class="fa fa-pinterest-p theme-hover-opacity" (click)="call('pinterest')"></i>
        <i class="fa fa-youtube theme-hover-opacity" (click)="call('youtube')"></i>
        <i class="fa fa-linkedin theme-hover-opacity" (click)="call('linkedin')"></i>
    </div>
</header>

<!-- About Section -->
<div class="theme-container" style="padding:128px 16px" id="about">
    <h3 class="theme-center">ABOUT ME</h3>
</div>

<!-- Team Section -->
<div class="theme-container" style="padding:128px 16px" id="experience">
    <h3 class="theme-center">EXPERIENCE</h3>
</div>

<!-- Work Section -->
<div class="theme-container" style="padding:128px 16px" id="project">
    <h3 class="theme-center">PROJECTS</h3>
    <p class="theme-center theme-large">What I've done</p>

    <div class="theme-row-padding" style="margin-top:64px">
        <div class="theme-col l3 m6">
            <img src="/w3images/tech_mic.jpg" style="width:100%" onclick="onClick(this)" class="theme-hover-opacity"
                alt="A microphone">
        </div>
        <div class="theme-col l3 m6">
            <img src="/w3images/tech_phone.jpg" style="width:100%" onclick="onClick(this)" class="theme-hover-opacity"
                alt="A phone">
        </div>
        <div class="theme-col l3 m6">
            <img src="/w3images/tech_drone.jpg" style="width:100%" onclick="onClick(this)" class="theme-hover-opacity"
                alt="A drone">
        </div>
        <div class="theme-col l3 m6">
            <img src="/w3images/tech_sound.jpg" style="width:100%" onclick="onClick(this)" class="theme-hover-opacity"
                alt="Soundbox">
        </div>
    </div>

    <div class="theme-row-padding theme-section">
        <div class="theme-col l3 m6">
            <img src="/w3images/tech_tablet.jpg" style="width:100%" onclick="onClick(this)" class="theme-hover-opacity"
                alt="A tablet">
        </div>
        <div class="theme-col l3 m6">
            <img src="/w3images/tech_camera.jpg" style="width:100%" onclick="onClick(this)" class="theme-hover-opacity"
                alt="A camera">
        </div>
        <div class="theme-col l3 m6">
            <img src="/w3images/tech_typewriter.jpg" style="width:100%" onclick="onClick(this)"
                class="theme-hover-opacity" alt="A typewriter">
        </div>
        <div class="theme-col l3 m6">
            <img src="/w3images/tech_tableturner.jpg" style="width:100%" onclick="onClick(this)"
                class="theme-hover-opacity" alt="A tableturner">
        </div>
    </div>
</div>
<!-- Skills Section -->
<div class="theme-container theme-light-grey theme-padding-64">
    <div class="theme-row-padding">
        <div class="theme-col m6">
            <h3>My Skills</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
                tempor incididunt ut labore et dolore.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
                tempor incididunt ut labore et dolore.</p>
        </div>
        <div class="theme-col m6">
            <p class="theme-wide"><i class="fa fa-tv theme-margin-right"></i>Frontend Development</p>
            <div class="theme-grey">
                <div class="theme-container theme-dark-grey theme-center" style="width:90%">90%</div>
            </div>
            <p class="theme-wide"><i class="fa fa-brands fa-connectdevelop theme-margin-right"></i>Backend Development
            </p>
            <div class="theme-grey">
                <div class="theme-container theme-dark-grey theme-center" style="width:85%">85%</div>
            </div>
            <p class="theme-wide"><i class="fa fa-link theme-margin-right"></i>Agile Scrum Development</p>
            <div class="theme-grey">
                <div class="theme-container theme-dark-grey theme-center" style="width:80%">80%</div>
            </div>
        </div>
    </div>
</div>

<!-- Education Section -->
<div class="theme-container theme-center theme-dark-grey" style="padding:128px 16px" id="education">
    <h3>EDUCATION</h3>
    <p class="theme-large">Will Fill Later</p>
</div>

<!-- Contact Section -->
<div class="theme-container theme-light-grey" style="padding:128px 25%" id="contact">
    <h3 class="theme-center">CONTACT</h3>
    <p class="theme-center theme-large">Let's get in touch. Send me a message:</p>
    <div style="margin-top:48px">
        <!-- <form #message="ngForm" (ngSubmit)="clickSend(message.value)">
            <p><input class="theme-input theme-border" type="text" placeholder="Name" required name="name" ngModel></p>
            <p><input class="theme-input theme-border" type="text" placeholder="Email" required name="email" ngModel>
            </p>
            <p><input class="theme-input theme-border" type="text" placeholder="Subject" required name="subject"
                    ngModel></p>
            <p><input class="theme-input theme-border" type="text" placeholder="Message" required name="message"
                    ngModel></p>
            <p class="theme-center">
                <button class="theme-button theme-main" type="submit">
                    <i class="fa fa-paper-plane"></i> SEND MESSAGE
                </button>
            </p>
        </form> -->
        <form [formGroup]="formGroup" (ngSubmit)="clickSend()">
            <p><input class="theme-input theme-border" type="text" value="aa" placeholder="Name" required
                    formControlName="name"></p>
            <div *ngIf="formGroup.get('name').hasError('required') && buttonClick==true" class="error-message">
                Name is required.
            </div>
            <p><input class="theme-input theme-border" type="text" placeholder="Email" required formControlName="email">
            </p>
            <div *ngIf="formGroup.get('email').hasError('required') && buttonClick==true" class="error-message">
                Email is required.
            </div>
            <p><input class="theme-input theme-border" type="text" placeholder="Subject" required
                    formControlName="subject"></p>
            <div *ngIf="formGroup.get('subject').hasError('required') && buttonClick==true" class="error-message">
                Subject is required.
            </div>
            <p><input class="theme-input theme-border" type="text" placeholder="Message" required
                    formControlName="message"></p>
            <div *ngIf="formGroup.get('message').hasError('required') && buttonClick==true" class="error-message">
                Message is required.
            </div>
            <p class="theme-center">
                <button class="theme-button theme-main" type="submit">
                    <i class="fa fa-paper-plane"></i> SEND MESSAGE
                </button>
            </p>

        </form>
    </div>
</div>

<!-- Footer -->
<footer class="theme-center theme-main theme-padding-64">
    <a href="#home" class="theme-button theme-light-grey"><i class="fa fa-arrow-up theme-margin-right"></i>To the
        top</a>
    <div class="theme-xlarge theme-section social">
        <i class="fa fa-facebook-official theme-hover-opacity" (click)="call('facebook')"></i>
        <i class="fa fa-pinterest-p theme-hover-opacity" (click)="call('pinterest')"></i>
        <i class="fa fa-youtube theme-hover-opacity" (click)="call('youtube')"></i>
        <i class="fa fa-linkedin theme-hover-opacity" (click)="call('linkedin')"></i>
    </div>
</footer>

<script>
    // Modal Image Gallery
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    }


    // Toggle between showing and hiding the sidebar when clicking the menu icon
    var mySidebar = document.getElementById("mySidebar");

    function theme_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
        } else {
            mySidebar.style.display = 'block';
        }
    }

    // Close the sidebar with the close button
    function theme_close() {
        mySidebar.style.display = "none";
    }
</script>